.intro-container {
  /* 요소를 가로 방향으로 나열하는 대신 세로 방향으로 나열 */
  display: flex;
  flex-direction: column;

  /* 모든 자식 요소들을 세로축 중앙에 정렬 */
  align-items: center;

  /* 모든 자식 요소들을 가로축 중앙에 정렬 */
  justify-content: center;

  /* 컨테이너의 높이를 화면 높이 전체로 설정 (뷰포트 높이) */
  height: 100vh;

  /* 컨테이너 내의 텍스트를 가운데 정렬 */
  text-align: center;

  /* 컨테이너의 배경색을 연한 회색으로 설정 */
  background-color: var(--default-background-color);
}

.profile-image {
  border-radius: 50%;
  /* 원형 이미지 */
  width: 80px;
  /* 이미지 크기 조절 */
  height: 80px;
  /* 이미지 크기 조절 */
}

.mt {
  margin-top: 50px;
}